/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the header */
header {
    background: linear-gradient(to right, #007bff, #190075);
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 26px;
    margin-bottom: 10px;
}

/* Style the main container */
main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}   

/* Style the right section */
#left {
    flex: 20%;
    margin-right: 20px;
}

/* Style the search form */
.city-search {
    margin-bottom: 20px;
}

.city-search h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.city-search input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.city-search button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Style the popular searches section */
#popular-searches {
    background-color: #f2f2f2;
    padding: 20px;
}

/* Style the left section */
#right {
    flex: 80%;
}

/* Style the current weather section */
#current-weather {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
}

/* Style the five-day weather section */
#five-day-weather {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 20px;
}

#five-day-weather-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#popular-searches li {
    margin-bottom: 10px;
}

#popular-searches button {
    padding: 10px 20px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 16px;
    background-color: #686868;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.day {
    background: linear-gradient(to right, #2f455c, #313a64);
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.day h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.day h5 {
    font-size: 16px;
    margin-bottom: 10px;
}

.day h6 {
    font-size: 14px;
    margin-bottom: 10px;
}
